<div class="container d-flex justify-content-center">
  <div class="urPosts">
      <h1 id="yourPosts">Your posts</h1>
      <hr class="mx-auto">
      <button class="btn btn-primary" id="addPost">Add new post</button>
  </div>
  {{#if post.length}}
  {{!-- <div class="card">
  <div class="card-body">
        {{#each user as |post|}}
        <h2>{{post.title}}</h2>
        <br>
        <p>{{post.content}}</p>


        {{/each}}
  </div> --}}

  {{/if}}


    

  
</div>

<script src="/js/post.js"></script>