input[type=text], textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
}
/* Classes */

.nav-link {
    margin: 15px 0;
}
.navWrap {
    background-color: rgb(7, 7, 7);
}
.urPosts {
    margin-top: 25px;
}

.form-label{
    text-align: center;
}







/* IDs */
#title {
    font-size: larger;
    box-sizing: border-box;
    background-color: burlywood;
    border-radius: 35px;
}

#yourPosts {
    font-size: x-large;
    text-indent: 5px;
    text-align: center;
}
